/* TIPOGRAFIA TEXTOS
font-family: "Montserrat", sans-serif;
TIPOGRAFIA TITULOS
font-family: "Rubik Mono One", monospace;
*/

/*-----------GENERAL--------*/
* {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img,
video {
    max-width: 100%;
    border-radius: 3%;
}


/* títulos */
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight:900;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: #e1a832;
    padding: 1%;


}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #ffffff ;
    padding: 1%;


}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: #6a5c55;
    padding: 1%;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: #e1a832;
    padding: 1%;

}

li {
    font-size: 1rem;
}

/* párrafos*/
p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: black;
    padding: 1%;

}


.nav-item {
    font-size: 1rem;
    color: black
}



/* No banner en mobile*/
@media (max-width: 767px) {
    .banner {
        background-image: none;
    }
}

/* Banner version desktop */
@media (min-width: 768px) {
    .banner {
        background-image: url(..//Images/banner.jpg) !important;
        background-attachment: fixed;
        width: 100%;
        height: 300px;
        background-size: cover;
        margin-top: 1%;
    }
}




/*  ------------------IDEAS-------------------   */

#quiensoy {
    background-color: #6a5c55;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#ideas {
    background-color: #d3ac83;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


#miexperiencia {
    background-color: #cec4b4;
    color: #ffc93d;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


#contacto {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.image-container {
    position: relative;
    margin-bottom: 1%;
}

.article {
    background-color: #ffffff;
    border-radius: 2%;
    padding: 2%;
    margin: 1%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
}

.article:hover {
    transform: scale(1.05);
}

.exp {
    transition: transform 0.3s ease-in-out;
}

.exp:hover {
    transform: scale(1.05);
}

/*  ------------------MI EXPERIENCIA-------------------   */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffea;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay-content {
    text-align: center;
    max-width: 90%;
    padding: 0 10px;

}


.image-container:hover .overlay {
    opacity: 1;

}




/* ----- Footer -------*/
footer a {
    color: white;
    font-size: smaller;
}

ol,
ul {
    padding-left: 0rem;
}

.bg-gris {
    background-color: #ffffff;
    max-width: 80%;
    border-radius: 2%;
    padding: 2%;
    margin: 2% 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}


/*  ------------------BOTONES-------------------   */
.btn-outline-warning {
    color: #ffffff;
    border-color: #e25439;
    background-color: #e25439;
    transition: transform 0.3s ease-in-out;
}

.btn-outline-warning:hover {
    color: #ffffff;
    transform: scale(1.15);
}

.btn-secondary {
    background-color: #e25439;
    color: #ffffff;
    border-color: #e25439;
    transition: transform 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #ffffff;
    transform: scale(1.15);
}

.nav-link {
    font-size: large;
    color: #000000;
}

.nav-link:hover {
    font-weight: 600;
    color: #e25439
}

.dest{
    color:#6a5c55;
    text-transform: uppercase;
    font-weight: bold;
}
.destacar{
    color:#e25439;
    font-size: 1.9rem;
}

.bodyisol{
    background-color: #d3ac83;
}

.navbar {
    background-color: white;
}

.bodyjuegomulti{
    background-color: #6a5c55;
}

/*ESCULTURA.HTML */
/* No banner en mobile*/
@media (max-width: 767px) {
    .fondo {
        background-image: none;
    }
}

/* Banner version desktop */
@media (min-width: 768px) {
    .fondo {
        background-image:url(../Images/manos.jpg);
        background-attachment: fixed;
        background-size:cover;
        height: 50%;
        border-radius: 2%;
        margin-bottom: 2%;
        }
    }

    @media (min-width: 768px) {
    .multimediaescultura video {
        width: 50%;
        margin-left: 45%;
        padding: 2% 2%;
        display: inline-block;
    }
    }

.bodyesc{
    background-color: #cec4b4 ;
}

.bodyjuego{
    background-color: #6a5c55;
}
.tit-am {
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #6a5c55 ;
        padding: 1%;
    
    
}

.bodycontacto{
    background-color: #e1a832;
}