// _base.scss

$font-text: "Montserrat", sans-serif;

* {
    font-family: $font-text;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img,
video,
iframe {
    max-width: 100%;
    border-radius: 3%;
}

// Estilos para títulos
%title-styles {
    font-weight: 900;
    text-transform: uppercase;
    padding: 1%;
}

h1 {
    @extend %title-styles;
    font-size: 1.8rem;
    color: #e1a832;
}

h2 {
    @extend %title-styles;
    font-size: 1.2rem;
    color: #ffffff;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    color: #6a5c55;
    padding: 1%;
}

h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: #e1a832;
    padding: 1%;
}

// Estilos para párrafos
%p-styles {
    font-size: 1rem;
    color: black;
    padding: 1%;
}

p {
    @extend %p-styles;
}