// --------------Highlights--------------
.tit-am {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #6a5c55;
    padding: 1%;
}

.dest {
    color: #6a5c55;
    text-transform: uppercase;
    font-weight: bold;
}

.destacar {
    color: #e25439;
    font-size: 1.2rem;
}
